@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #777;
  --blue: #ced3db;
  --page-max-width: 1440px;
  --page-padding-x: 5%;
}

.page-container {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding-left: var(--page-padding-x);
  padding-right: var(--page-padding-x);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

input {
  accent-color: #2f3640;
}

input[type="text"] {
  border-radius: 2px;
}

select {
  padding: 6px 30px 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}